<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <context-param>
        <description>Key Password</description>
        <param-name>key_password</param-name>
        <param-value>@key-password@</param-value>
    </context-param>
 
    <context-param>
        <description>Merchant EE Certificate</description>
        <param-name>merchant_eecert</param-name>
        <param-value>@merchant-eecert@</param-value>
    </context-param>

    <context-param>
        <description>Payment Network Root Certificate</description>
        <param-name>payment_root</param-name>
        <param-value>@payment-root@</param-value>
    </context-param>
    
    <listener>
        <listener-class>org.webpki.w2nb.webpayment.merchant.MerchantService</listener-class>
    </listener>

    <servlet>
        <servlet-name>PushPaymentServlet</servlet-name>
        <servlet-class>org.webpki.w2nb.webpayment.merchant.PushPaymentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PullPaymentServlet</servlet-name>
        <servlet-class>org.webpki.w2nb.webpayment.merchant.PullPaymentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PushPaymentServlet</servlet-name>
        <url-pattern>/pushpay</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PullPaymentServlet</servlet-name>
        <url-pattern>/pullpay</url-pattern>
    </servlet-mapping>
@security-constraints@    
</web-app>
